<%- include ("./header.html") %>

<div class="product-form">

<h3> Add Band </h3>
<p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
  been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
  galley of type and scrambled it to make a type specimen book.
</p>

<form method="POST" action="<%= action %>">
  <div class="alert alert-danger" role="alert" style="display: none;">
    A simple danger alert—check it out!
  </div>

  <div class="mb-3">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name="name" value="<%= data.band.band_name %>" placeholder="">
  </div>

  <div class="mb-3">
    <label for="name">Genre</label>

    <select class="form-control" id="genre" name="genre" required>
      <option value="">-- Pilih Genre --</option>
      <% for(var i in data.genres) { %>
        <% const gens = data.genres; %>
        <option value="<%= gens[i].genre_slug %>"><%= gens[i].genre_name %></option>
      <% } %>
    </select> 


  </div>

  <div class="mb-3">
    <label for="description">Description</label>
    <textarea class="form-control" id="desc" name="desc" row="4"> 
      <%= data.band.band_desc %>
    </textarea>
  </div>

  <div class="mb-3">
    <label for="logo">Logo (~300px * 100px)</label>
    <ul class="image-upload list-inline">
      <input id="upload_image_logo"  type="file" name="logo" accept="image/png" style="display:none" onchange="uploadImage(this.files, 'logo', 300, 100, 2)">
          
      <li id="thumb_image_logo_0" style="width:150px;height:50px" class="pickfile-container" id="pickfile-container" onclick="browseFile(event, $(this), 'logo')" >
        <% if (typeof data.band.band_logo != 'undefined') { %>
              <img class="preview" width="150" height="50" src="/user/thumbnail/<%= data.band.band_logo %>">
        <% }%>
      </li>
    </ul>
  </div>

  <div class="mb-3">
    <label for="thumbnail">Thumbnail (300px * 300px)</label>
    <ul class="image-upload list-inline">
      <input id="upload_image_thumbnail"  type="file" name="thumbnail" accept="image/jpeg" style="display:none" onchange="uploadImage(this.files, 'thumbnail', 300, 300, 3)">
          
          <li id="thumb_image_thumbnail_0" class="pickfile-container" id="pickfile-container" onclick="browseFile(event, $(this), 'thumbnail')" >
              <% if (typeof data.band.band_thumbnail != 'undefined') { %>
                <img class="preview" width="100" height="100" src="/user/thumbnail/<%= data.band.band_logo %>">
              <% }%>
            </li>
    </ul>
  </div>

  <div class="mb-3">
    <label for="image">Banner Image (1500px * 375px)</label>
    <ul class="image-upload list-inline">
      <input id="upload_image_banner"  type="file" name="banner" accept="image/jpeg" style="display:none" onchange="uploadImage(this.files, 'banner', 1500, 375, 5)">
          
      <li id="thumb_image_banner_0" style="width:300px;height:75px" class="pickfile-container" id="pickfile-container" onclick="browseFile(event, $(this), 'banner')" >
        <% if (typeof data.band.band_image != 'undefined') { %>
          <img class="preview" width="300" height="75" src="/user/thumbnail/<%= data.band.band_image %>">
        <% }%>
      </li>
    </ul>
  </div>

  <div class="mb-3">
    <label for="is_local">Lokal band ?</label>
    <div class="mb-3">
      <input  type="checkbox" name="is_local" value="1" <%= data.band.band_is_local ? 'checked' : '' %>
    </div>
  </div>
  <div class="mb-3">
    <label for="enabled">Enabled</label>
    <div class="mb-3">
      <input  type="checkbox" name="enabled" value="1" <%= data.band.band_enabled ? 'checked' : '' %>
    </div>
  </div>
 
  <div class="mb-3 btn-form-wrapper">
    <button  class="btn btn-primary" type="submit">Submit</button>
    <a class="btn btn-default submit-prod" onclick="window.history.back();">Batal</a>
  </div>
</form>

</div>

<%- include ("./footer.html") %>
