<%- include ("./header.html") %>

<a href="/admin/band/add" class="btn btn-success">Tambah Band</a>

<h2> Band List </h1>

    <div class="row">
        <div class="col-lg-12">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                <!--li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    </a>
                </li -->
                <% if (pagination.total > 0) { %>
                    <% for (pagerow of pagination.list) { %> 
                        <li class="page-item <%= pagerow.active ? 'active' : '' %>"   <%= pagerow.active ? 'aria-current="page"' : '' %> >
                            <a class="page-link" href="<%= pagerow.link %>"><%= pagerow.no %></a>
                        </li>
                    <% } %>
                <% } %>
                <!--li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    </a>
                </li -->
                </ul>
            </nav>
        </div>
    </div>

<div class="row">    
    <table class="table">
        <thead>
            <tr>
                <th> Id </th>
                <th> Nama </th>
                <th> Slug </th>
                <th> Logo </th>
                <th> Thumbnail </th>
                <th> Total Product </th>
                <th> Enabled </th>
            </tr>
        </thead>
        <tbody>
            <% var bands = data %>
            <% for(var i in bands) { %>
                <tr>
                    <td><%= bands[i].band_id %></td>
                    <td><a href="/admin/band/edit/<%= bands[i].band_id %>"><%= bands[i].band_name %></a></td>
                    <td><%= bands[i].band_slug %></td>
                    <td><%- bands[i].logo %></td>
                    <td><%- bands[i].thumbnail %> </td>
                    <td><%= bands[i].band_total_product %></td>
                    <td>
                        <% if (bands[i].band_enabled == 1)  { %>
                            <input type="checkbox" checked disabled> 
                        <% } else { %>
                            <input type="checkbox" disabled> 
                        <% } %>
                    </td>
                </tr>
            <% } %>
        </tbody>
    </table>
</div>

<div class="row">
    <div class="col-lg-12">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
            <!--li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                </a>
            </li -->
            <% if (pagination.total > 0) { %>
                <% for (pagerow of pagination.list) { %> 
                    <li class="page-item <%= pagerow.active ? 'active' : '' %>"   <%= pagerow.active ? 'aria-current="page"' : '' %> >
                        <a class="page-link" href="<%= pagerow.link %>"><%= pagerow.no %></a>
                    </li>
                <% } %>
            <% } %>
            <!--li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                </a>
            </li -->
            </ul>
        </nav>
    </div>
</div>

<%- include ("./footer.html") %>