<%- include ("./header.html") %>

<h2> Band List </h2>

<div class="row" style="margin: 30px 0;">
    <div class="col-md-2">
        
        <a href="/admin/band/add" class="btn btn-success">Add</a>
    </div>
    <div class="col-md-10">
        <form method="GET" action="/admin/band" >
            <input type="text" name="q" placeholder="Search by name" value="<%= data.q %>">
        </form>
    </div>
</div>

 <% if (error)  { %>
    <div class="alert alert-danger" role="alert">
        <%= error %>
    </div>
<% } %>

    <div class="row">
        <div class="col-lg-12">
            <%- include ("./pagination.html") %>
        </div>
    </div>

<div class="row">    
    <table class="table">
        <thead>
            <tr>
                <th> Id </th>
                <th> Nama </th>
                <th> Slug </th>
                <th> Image </th>
                <th> Total Product </th>
                <th> Enabled </th>
            </tr>
        </thead>
        <tbody>
            <% var bands = data.bands %>
            <% for(var i in bands) { %>
                <tr>
                    <td><%= bands[i].band_id %></td>
                    <td><a href="/admin/band/edit/<%= bands[i].band_id %>"><%= bands[i].band_name %></a></td>
                    <td><%= bands[i].band_slug %></td>
                    <!--td><%- bands[i].band_logo %></td-->
                    <td><img src="<%= bands[i].band_image %>" alt="Thumbnail" style="width: 70px; height: auto;"></td>
                    <td><%= bands[i].band_total_product %></td>
                    <td>
                        <% if (bands[i].band_enabled == 1)  { %>
                            <input type="checkbox" checked disabled> 
                        <% } else { %>
                            <input type="checkbox" disabled> 
                        <% } %>
                    </td>
                </tr>
            <% } %>
        </tbody>
    </table>
</div>

<div class="row">
    <div class="col-lg-12">
        <%- include ("./pagination.html") %>
    </div>
</div>

<%- include ("./footer.html") %>