<nav aria-label="Page navigation example">
    <ul class="pagination">

        <% if (pagination.total> 0) { %>
            <li class="page-item">
                <a class="page-link" href="/admin/band?page=1" aria-label="First">
                    <span aria-hidden="true">First</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="/admin/band?page=<%= pagination.prev_page %>" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <% for (pagerow of pagination.list) { %>
                <li class="page-item <%= pagerow.active ? 'active' : '' %>" <%=pagerow.active ? 'aria-current="page"'
                    : '' %> >
                    <a class="page-link" href="<%= pagerow.link %>">
                        <%= pagerow.no %>
                    </a>
                </li>
            <% } %>
                <li class="page-item">
                    <a class="page-link" href="/admin/band?page=<%= pagination.next_page %>" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>

                <li class="page-item">
                    <a class="page-link" href="/admin/band?page=<%= pagination.last_page %>" aria-label="Next">
                        <span aria-hidden="true">Last</span>
                    </a>
                </li>
        <% } %>

    </ul>
</nav>