<%- include('partials/head.html') %>
<%- include('partials/header.html') %>

<main>
  <%- include('partials/sections/hero.ejs') %>
  <%- include('partials/sections/marquee.ejs') %>
  <%- include('partials/sections/benefits.ejs') %>
  <%- include('partials/sections/calculator.ejs') %>
  <%- include('partials/sections/catalog.ejs') %>
  <%- include('partials/sections/steps.ejs') %>
  <%- include('partials/sections/testimonials.ejs') %>
  <%- include('partials/sections/faq.ejs') %>
  <%- include('partials/sections/register.ejs') %>
</main>

<%- include('partials/footer.html') %>
