<%- include ("../front/template/head.html") %>
<%- include ("../front/template/header.html") %>
<%- include ("../front/template/breadcrumb.html") %>

<div class="container">
    <h1 class="page-title">
        <%= data.pageTitle %>
    </h1>

    <div class="row" style="margin-bottom: 35px">
        <img class="img-responsive" src="/image/about-us-ugmarket.png">
    </div>

    <div class="row">
        <p>
            Lahir dari sebuah kepedulian untuk memiliki media untuk meliput musik-musik cadas, keras & cerdas. Sudah lebih dari satu dekade berdiri dan melalui berbagai peliputan dari band-band luar dan dalam negeri seperti Metallica, Municipal waste, Dream theater, Rotor, Dead squad, dll
            Berangkat dari media peliputan, kami melihat bahwa musik tidak jauh dari merchandise band, dll.. sehingga kami sekali lagi berupaya untuk membuat wadah berkumpulnya para penjual merchandise band, memorabilia band, cd, kaset, dvd, kaos, pin, poster, dll.. 
        </p>
        <p>
            Diharapkan dengan wadah market online ini dapat menjadi ajang silaturahim baik online maupun offline bagi para pecinta barang2 band, dll..
            Mari kita saling bertransaksi dengan jujur dan amanah agar jalinan pertemanan/persahabatan ini terus terjalin untuk semua penggemar band2 Cadas/keras ..
        </p>
        <p>
            Salam 🤘
            #ugmarket
        </p>
    </div>
</div>

<%- include ("../front/template/footer.html") %>
