<%- include ("../front/template/head.html") %>
<%- include ("../front/template/header.html") %>

<main class="login-container container">
  <div class="login-card">
    <h1 class="login-title"> Login </h1>
    <div class="social-login">
      <!--a href="/auth/login/facebook">
        <img src="https://static-id.zacdn.com/next-assets/static-assets/images/logo/fb-logo-rounded.svg"
          alt="facebook login" loading="lazy" width="37" height="37">
      </a-->
      
      <a href="/auth/login/google" class="google-login-btn">
        <img src="/image/google-logo.png" alt="Google" width="20" height="20">
        <span>Login dengan Google</span>
      </a>
    </div>
    <div class="or-separator">
      <span class="line"></span>
      <span class="text">or</span>
      <span class="line"></span>
    </div>
    <div class="alert alert-danger <%= error ? '' : 'd-none' %>" role="alert">
      <%= error %>
    </div>

    <% if (message != undefined && message != '') { %>
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <%= message %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% } %>

    <form action="/auth/login" method="POST" class="login-form">
      <% if (data.redirect && data.redirect !== '') { %>
        <input type="hidden" name="redirect" value="<%= data.redirect %>">
      <% } %>
      <div class="login-form-group form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required>
      </div>
      <div class="login-form-group form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
      </div>

      <div class="" style="text-align: center;" >
        <div class="cf-turnstile" data-sitekey="<%= data.cfKey %>"></div>
      </div>

      <button type="submit" class="submit-button">Submit</button>
    </form>

    <div class="register-link">
      Belum punya akun? <a href="/auth/register">Register</a>
    </div>
  </div>
</main>

<%- include ("../front/template/footer.html") %>
