<% include ../front/template/head.html %>
<% include ../front/template/header.html %>


  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="row tab__container" style="margin: 0">
            <div class="col-md-6 pvl txtCenter <%= data.urlActive === '/login' ? 'tab__active' : '' %>">
              <a href="<%= data.urlActive === '/login' ?  '#' : '/auth/login' %>">
                <h4 class="modal-title" id="exampleModalLabel">Login</h4>
              </a>
            </div>
            <div class="col-md-6 pvl txtCenter <%= data.urlActive === '/register' ? 'tab__active' : '' %>">
              <a href="<%= data.urlActive === '/register' ? '#' : '/auth/register' %>">
                <h4 class="modal-title" id="exampleModalLabel">Register</h4>
              </a>
            </div>
          </div>
     

      <div class="modal-body">

        <p id="auth_alert_msg" class="bg-danger"><%= error %></p>
        
        <div class="fbLoginButton">
          <a href="/auth/login/facebook">
            <img src="https://tocdn.sgp1.cdn.digitaloceanspaces.com/login-fb-321.png">
          </a>
        </div>
        <div class="fbLoginNotes">
          Kami tidak akan posting atas nama Anda atau membagikan informasi apapun tanpa persetujuan Anda.        
        </div>
        <div class="b-LoginContainer__fbOrLine align-center mtl text-lower">
          <span>
              Atau                        </span>
        </div>

        <div class="box">
          <div class="login__form ptl pbxl">
            <form id="auth_form" method="POST" action="<%= data.action %>">
              <div class="form-group">
                <label for="auth-name" class="control-label"> Email address:</label>
                <input type="email" class="form-control" name="email" id="auth_email" required>
              </div>
              <div class="form-group">
                <label for="auth-password" class="control-label"> Password:</label>
                <input type="password" class="form-control" name="password" id="auth_password" required>
              </div>
              <% if (data.urlActive === '/register') { %>
                <div class="form-group">
                  <label for="auth-password" class="control-label"> Confirm Password:</label>
                  <input type="password" class="form-control" name="confirm_password" id="auth_password" required>
                </div>
              <% } %>
              <button type="submit" class="btn btn-default"  style="width: 100%; margin: 10px 0;">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

<% include ../front/template/footer.html %>
