<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">

      <div class="carousel-item active">
        <img src="https://res.cloudinary.com/dmgyei0o8/image/upload/undefined-sync-fest_8a26f.jpg" class="img-fluid d-none d-md-block w-100" alt="Syncronize Festival 2025">
        <img src="https://res.cloudinary.com/dmgyei0o8/image/upload/undefined-burning-bridges_7edb8" class="img-fluid d-block w-100" alt="Syncronize Festival 2025">
      </div>

      <div class="carousel-item">
        <img src="https://res.cloudinary.com/dmgyei0o8/image/upload/machine-head-cd-heavythrash-metal-the-blackening_62d9d.jpg" class="img-fluid d-none d-md-block w-100" alt="Hammersonic 2026">
        <img src="https://res.cloudinary.com/dmgyei0o8/image/upload/undefined-cd-heavythrash-metal-the-blackening_7f055.jpg" class="img-fluid d-block w-100" alt="Hammersonic 2026">
      </div>
      

      <div class="carousel-item">
        <img src="https://res.cloudinary.com/dmgyei0o8/image/upload/undefined-burning-bridges_6456e.jpg" class="img-fluid  d-none d-md-block w-100" alt="StudentNite 2025">
        <img src="https://res.cloudinary.com/dmgyei0o8/image/upload/rage-againts-the-machine-the-battle-of-los-angeles-phvinyl_88b02.jpg" class="img-fluid d-block w-100" alt="StudentNite 2025">
      </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  