<% include ../front/template/head.html %>
<% include ../front/template/header.html %>


<section>
  <div class="home-banner">
      <div class="content">
        <h1> Merchandise Music and Action Figure Marketplace </h1>
        <p>Buy, sell and trade your music merchandise with fellow music fans</p>
      </div>
  </div>
</section> 
<section id="product">
  <div class="container">
    <div class="row">
      <div class="col-md-4">

        <img src="/image/formen-373x290.jpg">
        <div class="discount">
          <!--h2>Men</h2-->
        </div>
      </div>

      <div class="col-md-4">
        <img src="/image/forwomen-373x290.jpg">
        <div class="discount">
          <!--h2>Women</h2-->
        </div>
      </div>
      <div class="col-md-4">
        <img src="/image/toysnfiguresbw-373x290.jpg">
        <div class="discount">
          <!--h2>Action Figure</h2-->
        </div>
      </div>

    </div>
  </div>
</section>


<!--==========================================
  Discount Product
  ========================================-->

  <section id="product-new">
    <h3>Product Baru</h3>
    <div class="container">

      <div class="row">
          
        <% var products = data.products %>

        <% if (products != undefined && products.length == 0) { %>
            No product found
        <% } else {
            for(var i in products) { %>
            <div class="col-md-3">
              <a href="/product/<%= products[i].prod_id + '/' + products[i].prod_slug %>">
                  <img src="<%= products[i].thumbnail %>">
              </a>
              <h3><%= products[i].name %></h3>
              <p>Rp. <%= products[i].price %></p>
              <button class="btn-cart" type="button"><span>Add to Cart</span></button>
          </div>
          <% } %>
        <% } %>
      </div>

    <div class="pull-right" style="margin-top: 15px">
        <a class="btn btn-lg btn-primary" href="/p">Lihat Semua Produk</a>
    </div>
  </div>
</section>


<!--<section id="shirt">
  <div class="container">
    <div  class="row">
      <div class="col-lg-5 col-sm-6">

         <h2>New Arrival T-Shirt Undergroundsync </h2>
         <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
         <a href="#">Shop Now</a>
      </div>

      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <img class="img-responsive" src="image/shirt.png" alt="">
      </div>
    </div>
  </div>
</section>-->

<!--==========================================
  BEST SELLER product
  ========================================-->
  <!--<section id="featured">
    <h3>BEST SELLER PRODUCT</h3>
    <div class="container">

      <div class="carousel">
        <div><img src="image/1a.jpg">
          <h3>Shoes</h3>
          <p>Rp. 1.200.000</p>

          <button class="btn-cart" type="button"><span>Add to Cart</span></button>
        </div>
      </div>
    </div>
  </section>-->


<section id="join">
  <div class="container">
    <div class="row">

      <h2>Bergabung di marketplace kami</h2>
      <a href="#" class="join-btn">Join</a>


    </div>
  </section>

  <% include ../front/template/footer.html %>
