<%- include ("../front/template/head.html") %>
<%- include ("../front/template/header.html") %>


<%- include ("carousel.html") %>

<section id="product">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <a href="/p">
          <img src="/image/Widget - Local Band.jpg">
          <div class="discount">
            <!--h2>Men</h2-->
          </div>
        </a>
      </div>

      <div class="col-md-4">
        <img src="/image/Widget - Rock Merch.jpg">
        <div class="discount">
          <!--h2>Women</h2-->
        </div>
      </div>
      <div class="col-md-4">
        <img src="/image/Widget - T-SHIRTS.jpeg">
        <div class="discount">
          <!--h2>Action Figure</h2-->
        </div>
      </div>

    </div>
  </div>
</section>


<!--==========================================
  New Products
  ========================================-->

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="title">Product Baru</h3>
        <div class="owl-carousel">

          <% var products=data.products %>
  
          <% if (products !=undefined && products.length==0) { %>
            No product found
          <% } else {
              for(var i in products) { 
              let imgPath  = products[i].prod_thumbnails ? '/product/thumbnail/'+products[i].prod_thumbnails: '/image/no-image-180x180';
                %>
              <div class="product-list-item-carousel">
                <a href="/p/<%= products[i].prod_id %>/<%= products[i].prod_slug %>">
                  <img src="<%= imgPath %>" class="card-img-top">
                  <h5 class="product-list-item-carousel-title">
                    <%= products[i]["band.band_name"] %>
                  </h5>
                  <h5 class="product-list-item-carousel-subtitle">
                    <%= products[i].prod_name %>
                  </h5>
                  <p class="product-list-item-carousel-text">Rp. <%= products[i].prod_price %></p>
                </a>
              </div>
          <% } %>
        <% } %>
        </div>
      </div>
    </div>
  </div>
  

<!--<section id="shirt">
  <div class="container">
    <div  class="row">
      <div class="col-lg-5 col-sm-6">

         <h2>New Arrival T-Shirt Undergroundsync </h2>
         <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
         <a href="#">Shop Now</a>
      </div>

      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <img class="img-responsive" src="image/shirt.png" alt="">
      </div>
    </div>
  </div>
</section>-->

<!--==========================================
  BEST SELLER product
  ========================================-->
  <!--<section id="featured">
    <h3>BEST SELLER PRODUCT</h3>
    <div class="container">

      <div class="carousel">
        <div><img src="image/1a.jpg">
          <h3>Shoes</h3>
          <p>Rp. 1.200.000</p>

          <button class="btn-cart" type="button"><span>Add to Cart</span></button>
        </div>
      </div>
    </div>
  </section>-->


<!-- section id="join">
  <div class="container">
    <div class="row">

      <h2>Bergabung di marketplace kami</h2>
      <a href="#" class="join-btn">Join</a>

    </div>
  </div>
</section -->


<%- include ("../front/template/footer.html") %>