<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Undergroundsync</title>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" type="text/css" href="css/slick.css"/>
  <link rel="stylesheet" type="text/css" href="css/slick-theme.css"/>


  <link href="font-awesome-4.4.0/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>
</head>
<body>
   <!--============================================================
  TOP NAV
  =============================================================-->
  <div class="top_nav">
    <div class="container">
      <ul class="social">
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
        <li><a href="#"><i class="fa fa-instagram"></i></a></li>

      </ul>

<div class="right">
<ul class="nav-icon">
    
<li class="dropdown"><a href="#" data-toggle="dropdown" id="cart" class="cart"><i class="fa fa-shopping-cart"></i></a><span class="cart-count">1</span>

  <ul class="dropdown-menu shopping-cart-items" >
    <div class="shopping">
      <div class="shopping-header">
        <i class="fa fa-shopping-cart fa-2x cart-icon"></i>
    <div class="shopping-price"><span class="total-text">Total:</span><span class="price">Rp2.500.000</span>
    </div>
  </div>
    <li class="clearfix">
        <img src="image/cart1.jpg" alt="item1" />
        <span class="item-name">1 x 250.000</span>

        <span class="item-price">T-Shirt</span>
 
      </li>
    

   
  </ul>


</li>
<li>
<form class="search">
  <input placeholder="search..." id="search-box" type="text" class="search-box" name="q" />
  <label for="search-box"><i class="search-icon fa fa-search"></i>
</label>
  <input type="submit" id="search-submit" />
</li>
</ul>

</div>
</div>
<!--============================================================
  NAVIGATION
  =============================================================-->

<div class="navigation">
  <div class="container">
<a class="logo" href="#"><img src="image/1.png"></a>
<nav>
<ul>
  <li><a href="index.html">Home</a></li>
  <li><a href="#">Men</a></li>
  <li><a href="women.html">Women</a></li>
  <li><a href="#">Blog</a></li>
  <li><a href="#">Login/Register</a></li>
</ul>


</div>
</div>
</div>
</div>
    <!-- Header -->
  <header>
    <div class="men">
        <div class="container">
            <div class="row">
               <div class="caption">
                <h2>New High Collection</h2>
                 <p>Lorem ipsum dipsum lorem ipsum dipsum lorem</p>
                  <a href="#">Shop Now</a>

              </div>


               </div>
            </div>
        </div>
    </header>
<section id="product">
<div class="container">
<div class="row">
<div class="col-md-4">

<img src="image/b2.jpg">
<div class="discount">
  <h2>30% Discount T-Shirt</h2>
  <div class="discount-btn">
  <a href="#">Get it Now</a>
</div>
</div>
</div>


<div class="col-md-4">
  <img src="image/64.jpeg">
  <div class="discount">
  <h2>20% Discount Watch</h2>
  <div class="discount-btn">
  <a href="#">Get it Now</a>
</div>
</div>
</div>
<div class="col-md-4">
  <img src="image/67.jpg">
  <div class="discount">
  <h2>60% Discount Shoes</h2>
  <div class="discount-btn">
  <a href="#">Get it Now</a>
</div>
</div>
</div>

</div>
</div>


</section>

<section id="item">
  <div class="container">
  
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
      <div class="item">
    <img src="image/as.jpg" class="img-responsive">
    <div class="caption-item">
    <h3>Women T-Shirt</h3>
    <p> Every Shop</p>
    <h4>Rp. 120.000</h4>
 <button type="button" class="btn btn-default">
  <i class="fa fa-shopping-cart fa-lg"></i>
 Add to cart
                        </button>
</div>
</div>

    </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
        <div class="item">
    <img src="image/7.jpg" class="img-responsive">
 <div class="caption-item">
    <h3>Men T-Shirt</h3>
    <p> Tanglet Shop</p>
    <h4>Rp. 90.000</h4>
 <button type="button" class="btn btn-default">
  <i class="fa fa-shopping-cart fa-lg"></i>
 Add to cart
                        </button>
</div>
</div>

    </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
      <div class="item">
    <img src="image/as.jpg" class="img-responsive">
    <div class="caption-item">
    <h3>Women T-Shirt</h3>
    <p> Every Shop</p>
    <h4>Rp. 120.000</h4>
 <button type="button" class="btn btn-default">
  <i class="fa fa-shopping-cart fa-lg"></i>
 Add to cart
                        </button>
</div>
</div>

    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
        <div class="item">
    <img src="image/7.jpg" class="img-responsive">
 <div class="caption-item">
    <h3>Men T-Shirt</h3>
    <p> Tanglet Shop</p>
    <h4>Rp. 90.000</h4>
 <button type="button" class="btn btn-default">
  <i class="fa fa-shopping-cart fa-lg"></i>
 Add to cart
                        </button>
</div>
</div>

    </div>
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
      <div class="item">
    <img src="image/as.jpg" class="img-responsive">
    <div class="caption-item">
    <h3>Women T-Shirt</h3>
    <p> Every Shop</p>
    <h4>Rp. 120.000</h4>
 <button type="button" class="btn btn-default">
  <i class="fa fa-shopping-cart fa-lg"></i>
 Add to cart
                        </button>
</div>
</div>

    </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
        <div class="item">
    <img src="image/7.jpg" class="img-responsive">
 <div class="caption-item">
    <h3>Men T-Shirt</h3>
    <p> Tanglet Shop</p>
    <h4>Rp. 90.000</h4>
 <button type="button" class="btn btn-default">
  <i class="fa fa-shopping-cart fa-lg"></i>
 Add to cart
                        </button>
</div>
</div>

    </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
      <div class="item">
    <img src="image/as.jpg" class="img-responsive">
    <div class="caption-item">
    <h3>Women T-Shirt</h3>
    <p> Every Shop</p>
    <h4>Rp. 120.000</h4>
 <button type="button" class="btn btn-default">
  <i class="fa fa-shopping-cart fa-lg"></i>
 Add to cart
                        </button>
</div>
</div>

    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
        <div class="item">
    <img src="image/7.jpg" class="img-responsive">
 <div class="caption-item">
    <h3>Men T-Shirt</h3>
    <p> Tanglet Shop</p>
    <h4>Rp. 90.000</h4>
 <button type="button" class="btn btn-default">
  <i class="fa fa-shopping-cart fa-lg"></i>
 Add to cart
                        </button>
</div>
</div>

    </div>
    

    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
        <div class="item">
    <img src="image/7.jpg" class="img-responsive">
 <div class="caption-item">
    <h3>Men T-Shirt</h3>
    <p> Tanglet Shop</p>
    <h4>Rp. 90.000</h4>
 <button type="button" class="btn btn-default">
  <i class="fa fa-shopping-cart fa-lg"></i>
 Add to cart
                        </button>
</div>
</div>

    </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
      <div class="item">
    <img src="image/as.jpg" class="img-responsive">
    <div class="caption-item">
    <h3>Women T-Shirt</h3>
    <p> Every Shop</p>
    <h4>Rp. 120.000</h4>
 <button type="button" class="btn btn-default">
  <i class="fa fa-shopping-cart fa-lg"></i>
 Add to cart
                        </button>
</div>
</div>

    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
        <div class="item">
    <img src="image/7.jpg" class="img-responsive">
 <div class="caption-item">
    <h3>Men T-Shirt</h3>
    <p> Tanglet Shop</p>
    <h4>Rp. 90.000</h4>
 <button type="button" class="btn btn-default">
  <i class="fa fa-shopping-cart fa-lg"></i>
 Add to cart
                        </button>
</div>
</div>

    </div>
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
      <div class="item">
    <img src="image/as.jpg" class="img-responsive">
    <div class="caption-item">
    <h3>Women T-Shirt</h3>
    <p> Every Shop</p>
    <h4>Rp. 120.000</h4>
 <button type="button" class="btn btn-default">
  <i class="fa fa-shopping-cart fa-lg"></i>
 Add to cart
                        </button>
</div>
</div>

    </div>



    </div>

</section>

<div class="container">
  <div class="pag">
<ul class="pagination">
              <li><a href="#">«</a></li>
              <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li><a href="#">»</a></li>
            </ul>
</div>
</div>


<footer>
  <div class="footer">
  <div class="container">
    <div class="col-md-3 box_3">
      <h3>About Us</h3>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper.</p>
    </div>
    <div class="col-md-3 box_5">
      <h3>Latest Blog Posts</h3>
      <div class="footer-list">
          <ul>
            
          <p>Lorem ipsum Dolor Sit Amet<br><a href="#">15 March 2015</a></p></li>
        
          <p>Lorem ipsum Dolor Sit Amet<br><a href="#">15 March 2015</a></p></li>
           </ul>
      </div>
    </div>
    <div class="col-md-3 box_5">
      <h3>Site Map</h3>
      <div class="footer-list1">
          <ul>
            <li><a href="#">Home</a></li>
          <li><a href="#">Media</a></li>
          <li><a href="#">Kerjasama</a></li>
          <li><a href="#">Pembukuan</a></li>
          <li><a href="#">Gallery</a></li>
          <li><a href="#">Ruang anggota</a></li>
          <li><a href="#">Agenda</a></li>
           </ul>
      </div>
    </div>
    <div class="col-md-3 box_5">
      <h3>Contact Us</h3>
      <div class="footer-list">
          <ul>
            <li class="list_top">
          <p>It is a long established fact that a reader will be distracted by</p></li>
          <li class="list_top">
          <p>00-254-68974</p></li>
           </ul>
        </div>
        <p>Lorem ipsum dolor sit amet, adipiscing elit diam nonummy nibh euismod tincidunt laoreet dolore magna aliquam erat volutpat. </p>
    </div>
  </div>
</div>
<div class="footer_bottom">
  <div class="container">
    <div class="copy">
      <p>© 2015  </p>
    </div>
  
  </div>
</div>



</footer>




<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="js/slick.min.js"></script>

  <script type="text/javascript">
    $(document).ready(function(){
        $('.carousel').slick({
          dots: true,
        infinite: true,
        slidesToShow: 4,
        slidesToScroll: 3
    });
    });
  </script>


<script src="js/coba.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/slider.js"></script> 
<script type="text/javascript" src="js/jssor.js"></script>
<script src="js/jssor.slider.mini.js"></script>


</body>
</head>