<%- include ("../front/template/head.html") %>
<%- include ("../front/template/header.html") %>

<div class="container" style="margin-bottom: 40px">
    <%- include ("../front/template/breadcrumb.html") %>

    <h1 class="page-title">
        <%= data.pageTitle %>
    </h1>

    <div class="row">
        <p>
            Seluruh informasi pribadi yang Anda berikan kepada Merchandise Undergroundsync hanya akan digunakan oleh Merchandise Undergroundsync. Semua informasi pribadi yang kami peroleh dari Anda secara sukarela pada saat Anda registrasi akan kami simpan, gunakan dan lindungi sesuai dengan undang-undang perlindungan data dan kebijakan privasi ini. Informasi Anda akan dipakai untuk:
        </p>
        <ul>
            <li>Mempercepat proses belanja Anda</li>
            <li>Kepentingan konfirmasi pesanan</li>
            <li>Kepentingan pengiriman pesanan</li>
            <li>Mempermudah transaksi pembayaran</li>
            <li>Mengumpulkan data transaksi antara Anda dengan merch.undergroundsync.com</li>
            <li>Kepentingan administrasi Merchandise Undergroundsync</li>
        </ul>

        <p></p>
        <h3>Pendaftaran &amp; Penggunaan Informasi yang Kami Kumpulkan</h3>
        
        <p>
            Semua orang dapat mengakses dan melihat materi di situs kami, namun Anda dianjurkan untuk melakukan pendaftaran (registrasi) untuk dapat mengakses informasi dan layanan pada situs ini secara penuh. Dengan membuat akun di merch.undergroundsync.com, membuat Anda lebih mudah untuk berbelanja karena Anda tidak perlu lagi menulis data pribadi dan alamat Anda setiap kali berbelanja. Dengan registrasi, identitas Anda tercatat di database kami dan akan mempermudah transaksi Anda selanjutnya. Dengan melakukan registrasi, Anda bisa mendapatkan manfaat lain seperti info newsletter, promo diskon dan penawaran khusus. Untuk mendaftar pada situs merch.undergroundsync.com, kami memerlukan informasi seperti berikut:
        </p>
        <ul>
            <li>Nama lengkap</li>
            <li>Alamat email</li>
            <li>Nomor telepon</li>
        </ul>
        <p>
            Kami berasumsi bahwa informasi yang Anda berikan saat ini dan perubahan-perubahan yang Anda lakukan di masa mendatang adalah akurat dan benar. Apabila informasi dan perubahan-perubahan yang diberikan tersebut ternyata terbukti tidak benar, maka kami tidak bertanggung jawab atas segala akibat yang dapat terjadi sehubungan dengan pemberian informasi dan perubahan-perubahan yang tidak benar tersebut. Anda bertanggungjawab untuk menjaga kerahasiaan akun dan kata sandi Anda. Anda setuju untuk menerima tanggungjawab atas semua aktivitas yang terjadi dengan akun atau kata sandi Anda. Anda setuju untuk segera memberitahu kami jika ada pemakaian tidak resmi dari akun Anda ataupun pembobolan keamanan lainnya.
        </p>

        <h3>Koneksi ke Situs Lain</h3>
        <p>
            Untuk mempermudah penggunaan Anda, situs kami mungkin menyediakan link ke situs-situs pihak ketiga lainnya. Namun, pada saat Anda mengunjungi link-link ini, kami tidak bertanggung jawab atas informasi apapun yang Anda berikan kepada situs-situs tersebut. Masing-masing situs memiliki kebijakan penanganan privasi tersendiri dan kami tidak bertanggung jawab atas isi dari situs mereka. Oleh karena itu, Anda harus berhati-hati dan mempelajari pernyataan kebijakan privasi yang berlaku di situs tersebut sebelum memberikan informasi Anda.
        </p>

        <h3>Penutup</h3>
        <p>
            Syarat Ketentuan dan Kebijakan Privasi dapat diubah atau diperbaharui sewaktu-waktu tanpa ada pemberitahuan terlebih dahulu. Perubahan dari syarat dan ketentuan serta kebijakan privasi akan segera berlaku setelah dicantumkan di dalam situs merch.undergroundsync.com. Jika Pengguna merasa keberatan terhadap syarat dan ketentuan yang kami ajukan dalam Perjanjian ini, maka kami anjurkan untuk tidak menggunakan situs ini. Anda dianjurkan untuk membaca Syarat Ketentuan dan Kebijakan Privasi ini secara berkala agar mengetahui perubahan-perubahan terbaru.
        </p>
    </div>
</div>

<%- include ("../front/template/footer.html") %>
