<% include ../front/template/head.html %>
<% include ../front/template/header.html %>

<div class="container">
    <% include ../front/template/breadcumb.html %>
    <div class="row product-list">
        <div class="col-md-3 sidebar">

            <div class="group condition">
                <h3> Kondisi </h3>
                <input type="checkbox" name="conidtion"> Baru <br />
                <input type="checkbox" name="conidtion"> Bekas
            </div>

            <div class="group filter categories">
                <h3> Kategori </h3>
                <ul>
                    <% 
                        const cats = locals.categoryList;
                        for (let i = 0; i < cats.length; i++) {
                    %>
                        <% if (cats[i].cat_parent_id == 0) { %>
                            <li>
                                <input type="checkbox" name="categories"> <span style="font-size: 15px; font-weight: bold;"> <%= cats[i].cat_name %> </span>  
                                <% const catSecondLayer = cats.filter(function(cat) {return cat.cat_parent_id == cats[i].cat_id  } ); %>
                                <% if (catSecondLayer.length > 0) { %>
                                    <ul style="margin-left: 10px;">
                                        <% for (let j = 0; j < catSecondLayer.length; j++) { %>
                                            <li>
                                                <input type="checkbox" name="categories" data-href="/p/<%= catSecondLayer[j].cat_slug %>">
                                                <%= catSecondLayer[j].cat_name %>
                                            </li>
                                        <% } %>
                                    </ul>
                                <% } %>
                            </li>
                        <% } %>
                    <% } %>
                </ul>
            </div>
        </div>

        <div class="col-md-9">

            <div class="row">
                <ul>
                <% var products = data.products %>
                <% for(var i in products) { %>
                <li class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <div class="product-card">
                        <div class="product-card-wrapper">
                        <a href="/p/<%= products[i]['category.cat_slug'] %>/<%= products[i].prod_id %>/<%= products[i].prod_slug %>">
                            <div class="product-image">
                                <img src="<%= products[i].thumbnail %>">
                            </div>
                            <div class="caption-item">
                                <h4 style="font-size: 15px"><%= products[i]['band.band_name'] %></h4>
                                <div><%= products[i].prod_price %></div>
                            </div>
                        </a>
                        </div>
                    </div>
                    </li>
                <% } %>
                </ul>
            </div>
            <div class="row" style="text-align: center;">
                    <ul class="pagination">
                        <% if (data.pagination.page > 1) { %>
                            <li><a href="<%= data.pagination.baseUrl %>?page=<%= data.pagination.page - 1 %>">«</a></li>
                        <% } %>

                        <% for (var j = 1; j <= data.pagination.totalPage; j++) { %>
                            <li class="<%= data.pagination.page == j ? 'active': '' %>"><a href="<%= data.pagination.baseUrl %>?page=<%=j%>"><%= j %> <span class="sr-only">(current)</span></a></li>
                        <% } %>

                        <% if (data.pagination.page < data.pagination.totalPage) { %>
                            <li><a href="<%= data.pagination.baseUrl %>?page=<%= data.pagination.page + 1 %>">»</a></li>
                        <% } %>
                    </ul>
            </div>

        </div>

        
    </div>
</div>
</div>
<% include ../front/template/footer.html %>