<%- include ("../front/template/head.html") %>
<%- include ("../front/template/header.html") %>
<%- include ("../front/template/breadcrumb.html") %>

<div class="container">
    <h1 class="page-title">
        <%= data.pageTitle %>
    </h1>

    <% var products = data.products %>

    <% if (data.uri.query?.band ) { %>
    <div class="row">
        <div class="band-image">
            <img class="img-responsive" src="/bands/<%= products[0]['band.band_slug'] %>-image.jpeg">
        </div>
    </div>
    <% } %>

    <div class="row product-list-toolbox">
        <div class="col-lg-3 col-4">
            <span class="simple-label" id="filter_view"> 
                <i class="fas fa-sliders-h"></i> 
                FILTERS
            </span> 
            <span  id="filter_hide"> 
                TUTUP
                <i class="fas fa-times"></i>
            </span> 
        </div>
        <div class="col-lg-9 col-8">
            <div class="products-sort-wrapper">
                <span> <%= data.pagination.total %> Produk </span>
                <select name="sort" class="sort-by" id="sort-select">
                    <% _.each(data.sort, (val => { %>
                        <option value="<%= val.slug %>" 
                            <%= data.uri.query?.sort == val.slug ? 'selected': ''%> >
                            <%= val.label %>
                        </option>
                    <% })) %>

                </select>
            </div>
        </div>
    </div>    

    <div class="row product-list">
        <div class="col-lg-3 sidebar" id="sidebar">
            <%- include ("product_list_sidebar.html") %>
        </div>

        <div class="col-lg-9">
            <div class="row">
                
                <% for(var i in products) { %>
                    <div class="col-md-3 col-6">
                        <div class="item">
                            <a href="/products/<%= products[i].prod_id %>/<%= products[i].prod_slug %>">
                                <img src="<%= products[i].thumbnail %>" class="img-responsive">
                                    
                                <div class="caption-item">        
                                    <h5><%= products[i]['band.band_name'] %></h5>
                                    <p><%= products[i].prod_name %></p>
                                    <div><%= products[i].prod_price %></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    </li>
                <% } %>
                </div>                    
            <div class="row">
                <div class="col-lg-12">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                        <!--li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li -->
                        <% if (data.pagination.total > 0) { %>
                            <% for (pagerow of data.pagination.list) { %> 
                                <li class="page-item <%= pagerow.active ? 'active' : '' %>"   <%= pagerow.active ? 'aria-current="page"' : '' %> >
                                    <a class="page-link" href="<%= pagerow.link %>"><%= pagerow.no %></a>
                                </li>
                            <% } %>
                        <% } %>
                        <!--li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li -->
                        </ul>
                    </nav>
                </div>
            </div>

        </div>

        
    </div>
</div>

<%- include ("../front/template/footer.html") %>
