<aside class="desktop-filters">
                <div class="filter-section">
                    <h3 class="filter-title">Kategori</h3>
                    <div class="filter-options">
                        <label class="filter-option">
                            <input type="checkbox" name="kategori" value="pakaian" <%= data.uri.query.kategori === 'pakaian' ? 'checked' : '' %>>
                            <span class="checkmark"></span>
                            Pakaian
                        </label>
                        <label class="filter-option">
                            <input type="checkbox" name="kategori" value="aksesoris">
                            <span class="checkmark"></span>
                            Aksesoris
                        </label>
                        <label class="filter-option">
                            <input type="checkbox" name="kategori" value="merchandise">
                            <span class="checkmark"></span>
                            Merchandise
                        </label>
                    </div>
                </div>

                <div class="filter-section">
                    <h3 class="filter-title">Ukuran</h3>
                    <div class="filter-options">
                        <label class="filter-option">
                            <input type="checkbox" name="size" value="s">
                            <span class="checkmark"></span>
                            S
                        </label>
                        <label class="filter-option">
                            <input type="checkbox" name="size" value="m">
                            <span class="checkmark"></span>
                            M
                        </label>
                        <label class="filter-option">
                            <input type="checkbox" name="size" value="l">
                            <span class="checkmark"></span>
                            L
                        </label>
                        <label class="filter-option">
                            <input type="checkbox" name="size" value="xl">
                            <span class="checkmark"></span>
                            XL
                        </label>
                    </div>
                </div>

                <div class="filter-section">
                    <h3 class="filter-title">Harga</h3>
                    <div class="filter-options">
                        <label class="filter-option">
                            <input type="checkbox" name="price" value="0-100000">
                            <span class="checkmark"></span>
                            Di bawah Rp 100.000
                        </label>
                        <label class="filter-option">
                            <input type="checkbox" name="price" value="100000-300000">
                            <span class="checkmark"></span>
                            Rp 100.000 - Rp 300.000
                        </label>
                        <label class="filter-option">
                            <input type="checkbox" name="price" value="300000-500000">
                            <span class="checkmark"></span>
                            Rp 300.000 - Rp 500.000
                        </label>
                        <label class="filter-option">
                            <input type="checkbox" name="price" value="500000+">
                            <span class="checkmark"></span>
                            Di atas Rp 500.000
                        </label>
                    </div>
                </div>
            </aside>