<% include ../front/template/head.html %>
<% include ../front/template/header.html %>


<div class="container">
  <% include ../front/template/breadcumb.html %>
  <div class="row product-detail">
    <div class="col-md-6">
      <div class="container">
        <div class="row">
            <img class="img-responsive" src="<%= data.product.images[0] %>" width="427" height="auto" style="border: 1px solid #e8e8e8;">
        </div>
      <!--div class="row">
            <img class="img-responsive" src="<%= data.product.thumbnails[0] %>" width="107" height="auto" style="border: 1px solid #e8e8e8;">
        </div-->
      </div>
    </div>

    <div class="col-md-6">
      <div class="row">
        <div class="col">
          <div class="product-detail-name">
            <h1><%= data.product.prod_name %></h1>
            <div class="product-detail-price">
              <%= data.product.prod_price %>
            </div>
          </div>
          
        </div>
      </div>
 
      <div class="row">
        <div class="col">
          <div class="product-detail-size">
            <h3>Marketplaces</h3>
            <div class="row" style="margin-right:0; margin-left: 0;">
              <ul>
                <li style="margin-bottom: 10px;"><a href="https://tokopedia.com"><img width="auto" height="25" src="/marketplace/tokopedia.png"></a></li>
                <li style="margin-bottom: 10px;"><a href="https://bukapalak.com"><img  width="auto" height="25" src="/marketplace/bukalapak-logo-primary.svg"></a></li>
                <li style="margin-bottom: 10px;"><a href="https://blibli.com"><img  width="auto" height="25" src="/marketplace/blibli.png"></a></li>
                <li style="margin-bottom: 10px;"><a href="https://shopee.com"><img  width="auto" height="25" src="/marketplace/shopee.png"></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col">
          <div class="product-detail-desc">
            <h3>Detail</h3>
            <p><%= data.product.prod_desc %></p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="product-detail-pelapak">
            <h3>Informasi Pelapak</h3>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>

<% include ../front/template/footer.html %>