<div class="group category">
    <button class="group-title">
        <span class="group-title-text">
            Kategori
        </span>
        <svg width="15" height="15" class="group-title-icon" xmlns="http://www.w3.org/2000/svg">
            <path d="M3 7h9v1H3z" fill="currentColor" fill-rule="evenodd"></path>
        </svg>
    </button>
    
    <div class="group-wrapper">
        <% for(cat of data.categories) { %>
            <div class="group-wrapper-header">
                <%= cat.cat_name %> 
                <i class="fas fa-angle-down"></i>
            </div>
            <div class="group-wrapper-body">
                <% for(catChild of cat.childs) { %>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" 
                            name="categories" value="<%= catChild.cat_slug %>" 
                            id="cat-<%= catChild.cat_id %>" <%= data.uri.query.categories?.includes(catChild.cat_slug) ? 'checked' : '' %> >
                        <label class="form-check-label" for="flexCheckChecked">
                            <%= catChild.cat_name %>
                        </label>
                    </div>
                <% } %>
            </div>
        <% } %>
    </div>
</div>

<div class="group price">
    <button class="group-title">
        <span class="group-title-text">
            Harga
        </span>
        <svg width="15" height="15" class="group-title-icon" xmlns="http://www.w3.org/2000/svg">
            <path d="M3 7h9v1H3z" fill="currentColor" fill-rule="evenodd"></path>
        </svg>
    </button>

    <div class="group-wrapper filter-input">
        <input type="text" placeholder="min" class="range-min" data-type="min" name="price" id="price-min" value="<%= data.uri.query.price_min %>" >
        <span>-</span>
        <input type="text" placeholder="max" class="range-max" data-type="max" name="price" id="price-max" value="<%= data.uri.query.price_max %>" style="margin-left: 8px;">
        <div class="invalid-feedback" id="alert-price" style="font-size:12px"></div>
    </div>

</div>

<div class="group size">
    <button class="group-title">
        <span class="group-title-text">
            Size
        </span>
        <svg width="15" height="15" class="group-title-icon" xmlns="http://www.w3.org/2000/svg">
            <path d="M3 7h9v1H3z" fill="currentColor" fill-rule="evenodd"></path>
        </svg>
    </button>
    <div class="group-wrapper">
        <% for (let size of data.sizes) { %>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" name="sizes" id="inlineCheckSize_<%= size %>" value="<%= size %>" >
              <label class="form-check-label" for="inlineCheckSize_<%= size %>"><%= size.toUpperCase() %></label>
            </div>
        <% } %>
    </div>
</div>

<div class="group condition">
    <button class="group-title">
        <span class="group-title-text">
            Kondisi
        </span>
        <svg width="15" height="15" class="group-title-icon" xmlns="http://www.w3.org/2000/svg">
            <path d="M3 7h9v1H3z" fill="currentColor" fill-rule="evenodd"></path>
        </svg>
    </button>
    <div class="group-wrapper">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" 
                name="condition" value="b" id="flexCheckChecked"
                <%= data.uri.query.condition?.includes('b') ? 'checked' : '' %> 
                >
            <label class="form-check-label" for="flexCheckChecked">
                Baru
            </label>
        </div>

        <div class="form-check">
            <input class="form-check-input" type="checkbox" 
                name="condition" value="s" id="flexCheckChecked"  
                <%= data.uri.query.condition?.includes('s') ? 'checked' : '' %> 
                >
            <label class="form-check-label" for="flexCheckChecked">
                Bekas
            </label>
        </div>
    </div>
</div>