
    <nav class="breadcrumb-nav" aria-label="breadcrumb">
        <ol class="breadcrumb-list">
            <li class="breadcrumb-list__item">
                <a href="/">Home</a>
            </li>
            <% for(var i in data.breadcrumb) { %>
                <% const link = data.breadcrumb[i].link %>
                <% const isLast = (Number(i) === data.breadcrumb.length - 1) %>
                <li class="breadcrumb-list__item<%= isLast ? ' breadcrumb-list__item--active' : '' %>">
                    <% if (link && !isLast) { %>
                        <a href="<%= link %>"><%= data.breadcrumb[i].text %></a>
                    <% } else { %>
                        <span><%= data.breadcrumb[i].text %></span>
                    <% } %>
                </li>
            <% } %>
        </ol>
    </nav>



