<div class="c-bl-breadcrumb">
    <ul class="c-bl-breadcrumb__list clearfix">
        <li class="c-bl-breadcrumb__item"><a href="/" class="c-bl-breadcrumb__item-text u-fg-hover--red-brand">Home</a>
        </li>
        <% if (data.breadcumb != undefined && data.breadcumb.length > 0 ) { %>
            <% var bcs = data.breadcumb; %>
            <% for (var i=0; i < bcs.length; i++) { %> 
                <li class="c-bl-breadcrumb__item">
                    <i class="fa fa-angle-right c-icon u-mrgn-left--1 u-mrgn-right--1" aria-hidden="true"></i>
                    <% if (bcs[i].path != '')  { %>
                        <a href="<%= bcs[i].path %>" class="c-bl-breadcrumb__item-text u-fg-hover--red-brand">
                            <%= bcs[i].name %>
                        </a>
                    <% } else { %>
                        <span class="c-bl-breadcrumb__item-text active"> <%= bcs[i].name %></span>
                    <% } %>
                </li>
            <% } %>
        <% } %>
    </ul>
</div>