<div class="c-bl-breadcrumb">
    <ul class="c-bl-breadcrumb__list clearfix">
        <li class="c-bl-breadcrumb__item"><a href="/" class="c-bl-breadcrumb__item-text u-fg-hover--red-brand">Home</a>
        </li>
        <li class="c-bl-breadcrumb__item">
            <i class="fa fa-angle-right c-icon u-mrgn-left--1 u-mrgn-right--1" aria-hidden="true"></i>
            <a href="/c/sepeda" class="c-bl-breadcrumb__item-text u-fg-hover--red-brand">Sepeda</a></li>
        <li class="c-bl-breadcrumb__item">
            <i class="fa fa-angle-right c-icon u-mrgn-left--1 u-mrgn-right--1" aria-hidden="true"></i>
            <a href="/c/sepeda/outwear" class="c-bl-breadcrumb__item-text u-fg-hover--red-brand">Outwear</a></li>
        <li class="c-bl-breadcrumb__item">
            <i class="fa fa-angle-right c-icon u-mrgn-left--1 u-mrgn-right--1" aria-hidden="true"></i>
            <a href="/c/sepeda/outwear/kaos-508" class="c-bl-breadcrumb__item-text u-fg-hover--red-brand">Kaos</a></li>
        <li class="c-bl-breadcrumb__item">
            <i class="fa fa-angle-right c-icon u-mrgn-left--1 u-mrgn-right--1" aria-hidden="true"></i>
            <span class="c-bl-breadcrumb__item-text active">Kaos DWDW Raphapa</span>
        </li>
    </ul>
</div>