<%- include ("head.html") %>
<%- include ("header.html") %>

    <h1 class="page-title">
        <%= data.pageTitle %>
    </h1>

    <div class="row">   

        <div class="error-image" style="text-align: center;">
            <img src="/image/logo-ugmarket.jpg" class="img-fluid w-100" alt="Merchandise Undergoundsnyc">
        </div>
        <h2 style="text-align: center; margin: 20px;" > <%= error.code  %> </h2>
        <h2 style="text-align: center; margin: 20px;"> <%= error.message %> </h2>
    </div>


<%- include ("footer.html") %>
