
<footer>
  <div class="footer">
  <div class="container">
    <div class="col-md-3 box_3">
      <h3>About Us</h3>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper.</p>
    </div>
    <div class="col-md-3 box_5">
      <h3>Latest Blog Posts</h3>
      <div class="footer-list">
          <ul>
            <p>Lorem ipsum Dolor Sit Amet<br><a href="#">15 March 2015</a></p></li>
            <p>Lorem ipsum Dolor Sit Amet<br><a href="#">15 March 2015</a></p></li>
           </ul>
      </div>
    </div>
    <div class="col-md-3 box_5">
      <h3>Site Map</h3>
      <div class="footer-list1">
          <ul>
            <li><a href="#">Home</a></li>
          <li><a href="#">Media</a></li>
          <li><a href="#">Kerjasama</a></li>
          <li><a href="#">Pembukuan</a></li>
          <li><a href="#">Gallery</a></li>
          <li><a href="#">Ruang anggota</a></li>
          <li><a href="#">Agenda</a></li>
           </ul>
      </div>
    </div>
    <div class="col-md-3 box_5">
      <h3>Contact Us</h3>
      <div class="footer-list">
          <ul>
            <li class="list_top">
          <p>It is a long established fact that a reader will be distracted by</p></li>
          <li class="list_top">
          <p>00-254-68974</p></li>
           </ul>
        </div>
        <p>Lorem ipsum dolor sit amet, adipiscing elit diam nonummy nibh euismod tincidunt laoreet dolore magna aliquam erat volutpat. </p>
    </div>
  </div>
</div>
<div class="footer_bottom">
  <div class="container">
    <div class="copy">
      <p>© 2015 </p>
    </div>

  </div>
</div>



</footer>


<script type="text/javascript" src="/assets/js/jquery-2.1.1.min.js"></script>
<!--<script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>-->
<script type="text/javascript" src="/assets/js/slick.min.js"></script>

<% if (locals.js != undefined) { %>
    <% for(var i in locals.js) { %>
        <script src="/assets/js/main/front/<%= locals.js %>.js"></script>
    <% } %>
<% } %>

<script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/slider.js"></script>
<script src="/assets/js/jssor.js"></script>
<!--<script src="/assets/js/jssor.slider.mini.js"></script>-->
<script src="/assets/select2/select2.min.js"></script>
<script src="/assets/js/smartcrop.js"></script>
<script src="/assets/js/main.js"></script>

</body>
</html>
