<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid custom-nav-container">
      <a class="navbar-brand" href="/"> <img src="/image/logo-ug-text075x.png"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <!--li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/products?kategori=kaos">KAOS</a>
          </li -->

          <li class="nav-item">
            <a class="nav-link" href="/products?kategori=pakaian">PAKAIAN</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/products?kategori=aksesoris">AKSESORIS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/products?kategori=action-figure">ACTION FIGURES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/products?kategori=vinyl">VINYLS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/products">ALL</a>
          </li>

        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <!-- button class="btn btn-outline-success" type="submit">Search</button -->
        </form>
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown10" data-bs-toggle="dropdown"
              aria-expanded="false"><i class="fas fa-user fa-2x"></i></a>
            <ul class="dropdown-menu" aria-labelledby="dropdown10">
              <% if (session !=undefined && session.user !=undefined) { %>
                <li><a class="dropdown-item" href="/account/profile" rel="follow">Profile</a></li>
                <li><a class="dropdown-item" href="/account/product" rel="follow">Penjualan</a></li>
                <!-- li><a href="/account/pembelian">Pembelian</a></li-->
                <li><a class="dropdown-item" href="/auth/logout" rel="follow">Logout</a></li>
                <% } else { %>
                  <li><a class="dropdown-item" href="/auth/login" title="Masuk">Masuk</a></li>
                  <li><a class="dropdown-item" href="/auth/register" title="Buat Akun">Buat Akun</a></li>
                  <% } %>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<main>
