<ul class="nav navbar-nav">
    <% 
    const cats = locals.categoryList;
    for (let i = 0; i < cats.length; i++) {
    %>
        <% if (cats[i].cat_parent_id == 0) { 
            let clsDropdown = '';
            let isDropdown = false;
            const catSecondLayer = cats.filter(function(cat) {return cat.cat_parent_id == cats[i].cat_id  } ); 
            if (catSecondLayer.length > 0) {
                isDropdown = true;
                clsDropdown = 'dropdown';
            }
            %>%>
            <li class="<%= clsDropdown %>">
                <a href="/p/<%= cats[i].cat_slug %>" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <%= cats[i].cat_name %>
                    <% if (isDropdown) { %>
                        <span class="caret"></span>
                    <% } %>
                </a>
                
                <% if (catSecondLayer.length > 0) { %>
                    <ul class="dropdown-menu">
                        <% for (let j = 0; j < catSecondLayer.length; j++) { %>
                            <li><a href="/p/<%= catSecondLayer[j].cat_slug %>"><%= catSecondLayer[j].cat_name %></a></li>
                        <% } %>
                    </ul>
                <% } %>
            </li>
        </li>
        <% } %>
    <% } %>
</ul>
