@font-face {
    font-family: Myriad;
    src: url('/assets/font/MyriadPro-Regular.otf');
}

*{
  font-family: 'Myriad';
  font-size: 14px;
}

a:hover{
  text-decoration: none;
}

p{
  font-size: 15px;
}

dd, fieldset, ol, ul {
  margin: 0;
  padding: 0;
}
dd, ol, ul {
  list-style: none;
  list-style-image: none;
}

.page .container {
  padding: 20px 0;
}

/* body {
  color: #000;
  font-size: 12px;
  letter-spacing: .05em;
  line-height: 1.6;
  margin: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
} */

input[type=email], input[type=password], input[type=text], textarea {
  -webkit-appearance: none;
  padding: 8px;
}

input[type=email], input[type=password], input[type=text], select, textarea {
  border: 1px solid #dfdfdf;
  border-radius: 0;
  transition: border .3s;
  width: 100%;
}

button, input, select, textarea {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background: #fff;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  outline: 0;
}
input {
  line-height: normal;
}
button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

a.a-white {
  color: #fff;
}
.b-header__segment-text {
  font-size: 16px;
  letter-spacing: 2px;
}
.txtUpper, table th {
  text-transform: uppercase;
}
/*a {
  color: #000;
  text-decoration: none;
}
a {
  background-color: transparent;
}*/
user agent stylesheet
a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}

.body__header {
  background-color: #000;
  color: #fff;
}

.btn-more {
  text-align: center;
}

.btn-more a {
  padding: 8px 30px 8px 30px;
}

.btn-see-more {
  padding: 8px;
  display: block;
  color: #262626;
  border: 1px solid #262626;
  background-color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  width: 25%;
  margin: 16px auto;
  text-decoration: none;
  text-align: center;
}

.btn-see-more:hover {
  color: #262626;
  background-color:#eaeaea;
}

.title-wrapper {
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid grey;
}

.title {
  text-align: center;
  text-transform: uppercase;
  line-height: 1.5;
  color: #404040;
  display: block;
  letter-spacing: 1px;
  text-rendering: optimizeLegibility;
  font-size: 22px;
  margin-top: .75em;
  margin-bottom: .75em;
  border-bottom: 1px solid #a6a6a6;
}

.seg-bar{
  /*line-height: 60px;
  white-space: nowrap;*/
  display: table;
  height: 60px;
  margin: auto;
  width: 996px;
}

.size1of1{
  float: none;
}

.seg-bar__logo, .seg-bar__segments {
  white-space: nowrap;
  width: 1px;
}

.seg-bar__logo {
  display: table-cell;
  padding-right: 16px;
  vertical-align: middle;
}

.seg-bar .seg-bar__search, .seg-bar .seg-bar__segments, .seg-bar .seg-bar__utils, .shop-select-bar .shop-select {
  cursor: pointer;
  display: table-cell;
  vertical-align: middle;
}
.seg-bar .seg-bar__segments .segSelect, .seg-bar .seg-bar__shop-select .shop-select, .seg-bar .seg-bar__utils .utils {
  cursor: pointer;
  display: inline;
  text-decoration: none;
}

.seg-bar .seg-bar__search {
  position: relative;
  width: 100%;
}

.seg-bar .seg-bar-search__selSearchInput {
  background-color: #fff;
  color: #404040;
  padding: 2px;
}

.seg-bar__utils {
  white-space: nowrap;
  width: 145px;
}

.lfloat {
  float: left;
}
.pal, .pbl, .pvl {
  padding-bottom: 20px;
}

.pal, .ptl, .pvl {
  padding-top: 20px;
}

.pal, .phl, .pll {
  padding-left: 20px;
}
.pal, .phl, .prl {
  padding-right: 20px;
}

.pam, .paml, .pbm, .pbml, .pvm, .pvml {
  padding-bottom: 12px;
}

.segSelect {
  position: relative;
}
.txtCenter {
  text-align: center;
}

.seg-bar__utils div {
  white-space: normal;
}
.b-header-shadow {
  box-shadow: -1px 3px 7px #c9c9c9;
}
.b-header__nonclickable {
  cursor: default!important;
}
.js-custom-popup {
  color: #000;
  z-index: 100;
}
.js-custom-popup, .recent-search__popup {
  background-color: #fff;
  position: absolute;
}
.txtLeft {
  text-align: left;
}

.b-header__padding {
  height: 100%;
  position: absolute;
  top: -10px;
  width: 100%;
  z-index: -100;
}

.b-LoginContainer__fbOrLine span {
  position: relative;
  top: -18px;
  padding: 0 10px;
  background-color: #fff;
  width: auto;
  font-size: 20px;
  color: #6d6e6e;
}
.b-LoginContainer__fbOrLine span, .b-register__fbOrLine span {
  position: relative;
  top: -18px;
  padding: 0 10px;
  background-color: #fff;
  width: auto;
  font-size: 20px;
  color: #6d6e6e;
}
.b-LoginContainer__fb .fbLoginButton {
  margin: 30px auto;
  width: 321px;
}
.fbLoginButton, .fbLoginNotes {
  margin: 30px auto;
  width: 321px;
  text-align: center;
}

.b-LoginContainer__fbOrLine {
  position: relative;
  border-top: 1px solid #6d6e6e;
  height: 0;
}
.b-LoginContainer__fbOrLine, .b-register__fbOrLine {
  position: relative;
  border-top: 1px solid #6d6e6e;
  height: 0;
}
.align-center {
  text-align: center;
}
.mal, .mtl, .mvl {
  margin-top: 20px;
}
.text-lower {
  text-transform: lowercase;
}
#content, .box, .box-bd, .box-ft, .box-hd, .clearfix, .l-pageWrapper {
  zoom: 1;
}
.box, .box-bd, .box-ft, .box-hd {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.box {
  margin: 0 auto;
  width: 371px;
  position: relative;
  display: block;
}

.tab__container {
  border-bottom: 1px solid #e6e6e6;
}
.container {
  margin: 0 auto;
  max-width: 1200px;
}

.tab__active {
  border-bottom: 3px solid #000;
  color: #000;
}
.tab__registerLogin {
  font-size: 18px;
  color: #6d6e6e;
}
.size1of2 {
  width: 50%;
}
.txtCenter {
  text-align: center;
}
.lfloat {
  float: left;
}


.top_nav a{
  color: #ffffff;
  font-size: 16px;
}

.social li{
  display: inline-block;
  /*float: left; */
  padding: 0 15px;
}

.social li a{
  color: #fff;
  font-size: 16px;
  text-align: center;
  transition:all 0.5s;
  -moz-transition:all 0.5s;
  -webkit-transition:all 0.5s;
  -o-transition:all 0.5s;
}

.social li a:hover{
  color: #f25f5c;
}

.js-arrow {
  bottom: 100%;
  content: " ";
  position: absolute;
  margin-left: -10px;
  border: 10px solid transparent;
  border-bottom-color: #fff;
}

.js-arrow-dark {
  border-color: transparent transparent #6d6e6e;
}

.account-menu__head, .minicart__head, .wl-info__head {
  background-color: #6d6e6e;
  padding: 12px;
  color: #fff;
}
.txtUpper, table th {
  text-transform: uppercase;
}

.right{
  float: right;
}



.nav-icon li{
  list-style: none;
  display: inline-block;
  margin-left: 30px;
  color: #fff;

}

/*=======================================
CART
=======================================*/
.cart{
  color: #fff;
  font-size: 17px;
}

.cart-count {
  border-radius: 50em;
  background-color: #F48D00;
  color: #FDFFFC;
  display: inline-block;
  font-weight: 700;
  height: 1.5em;
  width: 1.5em;
  text-align: center;
  vertical-align: top;
  margin-left: 5px;

}

/*==================================
NAVIGATION
==================================*/

.navigation{
  background-color: #262525;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  z-index: 2;
}

.navigation .container{
  height: 100px;
  line-height: 100px;
  white-space: nowrap;
}

.logo{
  padding: 10px 40px;
}

/* nav > ul{
  float: right;
  list-style: none;
  position: relative;
    margin-top: -70px;
    padding:10px;
    font-family: 'Open Sans',sans-serif;
    font-weight: 400;
}

nav > ul > li{
  display: inline-block;
  margin-left: 25px;
}

nav > ul > li a{
  color: #fff;
  font-size: 18px;
  transition:all 0.5s;
  -moz-transition:all 0.5s;
  -webkit-transition:all 0.5s;
  -o-transition:all 0.5s;
}

nav > ul > li a:hover{
  color: #f25f5c;
} */

.bottom-nav {
  /* width: 80%; */
  margin: 0 auto;
}

.bottom-nav a{
  color: #212121;
}

/*=======================================
SEARCH
=======================================*/


.search-box {
  -webkit-transition: width 0.6s, border-radius 0.6s, background 0.6s, box-shadow 0.6s;
          transition: width 0.6s, border-radius 0.6s, background 0.6s, box-shadow 0.6s;
  width: 329px;
  height: 40px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background: #ebebeb;
  padding: 10px;
}

.search-box + label .search-icon {
  background-color: #ef3d52;
  width: 30px;
  height: 30px;
  color: #ffffff;
}

/*.search-box:hover {
  color: white;
  background: #c8c8c8;
  box-shadow: 0 0 0 5px #3d4752;
}
.search-box:hover + label .search-icon {
  color: white;
}
/*.search-box:focus {
  -webkit-transition: width 0.6s cubic-bezier(0, 1.22, 0.66, 1.39), border-radius 0.6s, background 0.6s;
          transition: width 0.6s cubic-bezier(0, 1.22, 0.66, 1.39), border-radius 0.6s, background 0.6s;
  border: none;
  outline: none;
  box-shadow: none;
  padding-left: 15px;
  cursor: text;
  width: 300px;
  border-radius: auto;
  background: #ebebeb;
  color: black;
}
.search-box:focus + label .search-icon {
  color: black;
}*/
.search-box:not(:focus) {
  text-indent: -5000px;
}

#search-submit {
  position: relative;
  left: -5000px;
}

.search-icon {
  position: relative;
  /*left: -25px;*/
  color: white;
  cursor: pointer;
}





/*=========================================
Bullet
==========================================*/
   .jssorb21 {
                position: absolute;
            }
    .jssorb21 div, .jssorb21 div:hover, .jssorb21 .av {
                position: absolute;
                /* size of bullet elment */
                width: 19px;
                height: 19px;
                text-align: center;
                line-height: 19px;
                color: white;
                font-size: 12px;
                background: url(/image/b21.png) no-repeat;
                overflow: hidden;
                cursor: pointer;
            }
            .jssorb21 div { background-position: -5px -5px; }
            .jssorb21 div:hover, .jssorb21 .av:hover { background-position: -35px -5px; }
            .jssorb21 .av { background-position: -65px -5px; }
            .jssorb21 .dn, .jssorb21 .dn:hover { background-position: -95px -5px; }




/*=============================================
Arrow
=============================================*/
            .jssora21l, .jssora21r {
                display: block;
                position: absolute;
                /* size of arrow element */
                width: 55px;
                height: 55px;
                cursor: pointer;
                background: url(/image/a21.png) center center no-repeat;
                overflow: hidden;
            }
            .jssora21l { background-position: -3px -33px; }
            .jssora21r { background-position: -63px -33px; }
            .jssora21l:hover { background-position: -123px -33px; }
            .jssora21r:hover { background-position: -183px -33px; }
            .jssora21l.jssora21ldn { background-position: -243px -33px; }
            .jssora21r.jssora21rdn { background-position: -303px -33px; }


/*============================================
Slider
============================================*/
.slide {
  margin-top: 50px;
}

#slide{
    padding: 0;
    position: relative;

}



.slider{
    position: relative;
    margin: 0 auto;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 500px;
    overflow: hidden;
    text-align: center;
}

.slider .wrapper{
    position: absolute;
    width: 350px;
    height: 150px;
    top: 140px;
    left: 110px;
    padding: 20px;
    border-radius: 10px;
    line-height: 5px;
    color: #2b2b2b;
    background-color: #ffffff;
    opacity: 0.7;
}
.slider .wrapper .title{
  font-size: 20px;
  text-align: center;
}

.slider .wrapper p{
  line-height: 75px;
  font-size: 15px;
  font-weight: 300;
  text-align: center;
}

.slider .wrapper a{
  padding: 10px 15px;
  text-align: center;
  border-radius: 2px;
  font-size: 14px;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  border: solid 1px #fff;
  transition:all 0.5s;
  -moz-transition:all 0.5s;
  -webkit-transition:all 0.5s;
  -o-transition:all 0.5s;
}

.slider .wrapper a:hover{
  border: solid 1px #000;
  color: #000;
}

.btn-shop {
  width:174px;
  background-color: #04a4bc;
  padding: 5px;
  text-align: center;
  color: #ffffff;
  border-radius: 5px;
}

/*===================================
DROPDOWN CART
===================================*/

.cart-icon {
  color: #515783;
  font-size: 34px;
  margin-right: 7px;
  margin-top: -15px;
  float: left;
}

.shopping{
  margin: 20px 0;
  float: right;
  background-color: #fff;
  width: 330px;
  position: relative;
  border-radius: 3px;
  padding: 20px;
  z-index: 3;

}

.shopping .shopping-header{
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 15px;
}

.shopping .shopping-header .shopping-price{
  float: right;
  margin-top: -7px;
}

.total-text{
  color: #696969;
  font-family: 'Lato',sans-serif;
}

.price{
  color: #f25f5c;
  font-family: 'Lato',sans-serif;
}

.shopping .shopping-items{
  padding-top: 10px;
}

.shopping .shopping-items li{
  margin-bottom: 18px;
}

.shopping .shopping-items img{
  float: left;
  margin-right: 12px;
}

.item-name {
  display: block;
  padding-top: 21px;
  font-size: 16px;
  color: #ff1654;
  float: right;

}

.item-price{
  font-size: 16px;
  padding: 10px;
}

.item-quantity {
  display: block;
  padding-top: 15px;
  font-size: 16px;
  color: #ff1654;
  text-align: center;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/*==================================*/





/*======================================
DISCOUNT PRODUCT
======================================*/



#product{
padding: 20px;
text-align: center;
}

/*#product img{
  width: 100%;
  height: 250px;
}*/

#product-new{
padding: 20px;
text-align: center;
}

#product-new img{
  width: 200px;
  height: 200px;
}



.product-list {
    margin-top: 20px;
}

.card {
  border-style: hidden
}

.card:hover {
    border: 1px solid rgba(0,0,0,.125);
}

.home-product-container {
  margin-bottom: 20px;
}

.product-list-item {
  width:  calc(17% - 20px);
  margin-right: 15px;
  padding-bottom: 26px;
  padding-left: 0;
  padding-top: 0;
  padding-right: 0;
  cursor: pointer;
}

.product-list-item-carousel {
  width:  180px;
  padding: 8px;
}

.product-list-item-carousel img:hover {
  opacity: .6;
}

.product-list-item-carousel-title {
  font-size: 1.2rem;
  padding-top: 10px;
  text-align: center;
}
  
.product-list-item-carousel-subtitle {
  font-size: 1rem;
  padding-top: 10px;
  text-align: center;
}

.product-list-item-carousel-text {
  text-align: center;
}

.product-list-item a {
  color: inherit;
  text-decoration: none;
}

.product-list-item a:hover {
  color: inherit;
}

.product-list .sidebar .group{
    border-style: solid;
    border-color: rgb(196, 12, 65) rgb(239, 239, 244) rgb(239, 239, 244);
    padding: 10px;
}

.product-list .sidebar  li {
   padding: 0;
}

.product-image {
  position: relative;
  margin: 0px;
  display: block;
  padding-bottom: 100%;
  height: 0px;
  overflow: hidden;
}

.discount-btn{
 padding: 10px 100px;
}

.discount {
  position: absolute;
  top: 100px;
  left: 20px;
  right: 20px;
  padding: 5px;
  text-align: center;
  line-height: 5px;
  font-size: 2em;
  color: #FFFFFF;
}


.discount a{
  padding: 5px 10px;

  border-radius: 2px;
  font-size: 14px;
  color: #fff;
  font-weight: 400;
  border: solid 1px #fff;
  transition:all 0.5s;
  -moz-transition:all 0.5s;
  -webkit-transition:all 0.5s;
  -o-transition:all 0.5s;
}

.discount a:hover{
  border: solid 1px #f25f5c;
  color: #f25f5c;
}

/*===================================*/



/*=====================================
Carousel
====================================*/
#featured{
padding: 25px;
}

#featured h3{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}



.btn-cart{
  border: 2px solid #474747;
  background-color: transparent;
  border-radius: 20px;
  padding: 10px 15px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  transition:all 0.5s;
  -moz-transition:all 0.5s;
  -webkit-transition:all 0.5s;
  -o-transition:all 0.5s;

}

.btn-cart:hover{

  border: 2px solid #f25f5c;


}


.btn-cart span{
  color: #474747;
}

/*===================================*/


#shirt{
  background-color: #2A363B;
  padding: 20px;
}



#shirt h2{
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;


}

#shirt p{
  color: #E5E3E3;
}

#shirt a{

  padding: 5px 10px;
  border-radius: 2px;
  font-size: 14px;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  border-radius: 5px;
  font-weight: 400;
  border: solid 1px #fff;
  transition:all 0.5s;
  -moz-transition:all 0.5s;
  -webkit-transition:all 0.5s;
  -o-transition:all 0.5s;
}

#shirt a:hover{
  border: solid 1px #f25f5c;
  color: #f25f5c;
}


/*==============================================================
JOIN
===============================================================*/


#join{
  padding: 30px;
  background: url(/image/40.jpg)no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;

}

#join h2{
  color: #fff;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
}

.join-btn{
    padding: 10px 30px;
    border-radius: 5px;
    text-transform: uppercase;
    color: #fff;
    border:solid 1px #fff;
    font-family: 'Open Sans', sans-serif;
    margin-top: 20px;
      transition:all 0.5s;
  -moz-transition:all 0.5s;
  -webkit-transition:all 0.5s;
  -o-transition:all 0.5s;

}

.join-btn:hover{
  border: solid 1px #f25f5c;
  color: #f25f5c;
}




/*===========================================
MEN
============================================*/

#men{
  background: url(../image/men.jpg)center no-repeat;
}

.custom-nav-container {
  margin: 0 auto;
  max-width: 1200px;
}


.footer{
  background:#262525;
  padding:3em 0;
}
.footer h3{
  color: #fff;
    font-size: 1.1em;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 1em;
}
.footer p{
  color: #fff;
    font-size: 0.8125em;
    line-height: 1.5em;
    overflow: hidden;
}
.footer-list ul, .footer-list1 ul {
    padding: 0;
    list-style: none;
    margin:0;
}
.footer-list li.list_top {
    margin-bottom:1em;
}

.footer-list li a{
  color:#fff;
}

.footer-list  p a{
  color:#fff;
}

.footer-list1 ul li{
  font-size: 0.8125em;
    line-height: 1.8em;
}
.footer-list1 ul li a{
  color: #fff;
}
.footer_bottom{
  background-color:#3c3c3c;
  padding:1em 0 0.5em;
}
.copy{
    float: left;
}
.copy p{
  font-size:0.8125em;
  color:#fff;
}
.copy p a{
  color:#fff;
}

.footer-social-wrap {
  margin-bottom: 20px;
}

.footer-social-wrap a{
  color: #000;
  background: #fff;
  text-decoration: none;
  display: inline-block;
  margin-right: 12px;
  padding: 2px 0;
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 18px;
  border-radius: 50%;
}
/*==================================
Header Men Page
===================================*/
/* header .women {

    color: #fff;
    background: url(../image/32.jpg) center no-repeat;
}

header .men {

    color: #fff;
    background: url(../image/men.jpg) center no-repeat;
}
header .container {
    padding-top: 150px;
    padding-bottom: 150px;
}

header .caption h2{
    font-size: 2.2em;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
}

header .caption a{
  padding: 5px 10px;
  line-height: 40px;
  border-radius: 2px;
  font-size: 14px;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  border: solid 1px #fff;
  transition:all 0.5s;
  -moz-transition:all 0.5s;
  -webkit-transition:all 0.5s;
  -o-transition:all 0.5s;
}


header .caption a:hover{
  border:solid 1px #f25f5c;
  color: #f25f5c;
}

*/

/*==================================
item
===================================*/
#item{
  padding: 0 10px;
  text-align: center;
}

#item h3{
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}

#item p{
  color: #595959;
  font-family: 'Open Sans', sans-serif;
}

#item h4{
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  color: #292929;
}

.caption-item {
  text-align: center;
  padding: 10px;
  color:#2b2b2b;
}

.item {
  /* border: 1px solid #dddddd; */
  margin-bottom:20px;
}

.item img{
  display: initial; 
  width: 220px;
  height: 220px
}

.item a {
  text-decoration: none;
}

.item img:hover{
  opacity: .6;
}

.btn-default{
  font-family: 'Open Sans', sans-serif;
  background-color: #000000;
  color: #fff;
  transition:all 0.5s;
  -moz-transition:all 0.5s;
  -webkit-transition:all 0.5s;
  -o-transition:all 0.5s;
}

.btn-default:hover{
  background-color: #ffffff;
  color: #000000;
}


/*====================================
Pagination
====================================*/
.pag{
   text-align: center;
}

.pagination {
  justify-content: right;
  margin-bottom: 10px;
  --bs-pagination-active-bg:  #000;
  --bs-pagination-color: #000;
  --bs-pagination-active-border-color: #dee2e6;
  --bs-pagination-hover-color: #000;
  
}



/*.pagination>li>a, .pagination>li>span {
  border-radius: 50% !important;
  margin: 0 5px;
} */

.catalog{
  padding: 10px;
}

.account {
  padding: 20px;
  min-height: 500px;
  margin-top: 70px;
}

.account .sidebar {
  border-right: 1px solid #ffffff;
}

.account .sidebar ul li{
  padding: 10px 0;
}

.account .content .highlight {
  background-color:#e7e7e7;
}

.product-form {

}

.product-form .image-upload li{
  cursor: pointer;
  width: 100px;
  height: 100px;
  border: 1px dotted #b7b7b7;
  border-radius: 4px;
  margin-right: 10px;
  padding: 0;
}

.product-card {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 8px!important;
}

.product-card-wrapper {
  font-family: Hind Madurai,sans-serif;
  position: relative;
  max-width: 200px;
  height: 100%;
  background: #fff;
  border: 1px solid hsla(0,0%,92.2%,.8);
  border-radius: 4px;
}

.product-card-wrapper a {
  color:  rgba(0, 0, 0, 0.7);
}

.pickfile-container {
    background: url(/image/add-product.png) no-repeat;
    background-position: center;
}

/* .home-banner {
  background-image: url('/image/rock-concert-smoke-light-78521.jpeg');
  height: 300px;
  background-size: cover;
  
}

.home-banner .content {
  padding: 5em 1em;
  text-align: center;
}

.home-banner h1 {
  color: #ffffff;
  font-size: 30p;
}

.home-banner p {
  color: #ffffff;
  font-size: 20px;
  line-height: 1.38462em;
  font-weight: 600;
  margin: 0.75em auto;
  max-width: 22.5em;
} */

.product-detail {
  border-top: 1px solid #ddd;
  display: flex;
  flex-flow: row wrap;
  min-height: 760px;
  padding: 48px 0;
}

.product-detail-name {
  padding-bottom: 15px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  height: auto;
  margin: 0;
  text-transform: capitalize;
  word-break: break-word;
  color: #333;
  border-bottom: 1px solid #e5e5e5;
}

.product-detail-price {
  font-size: 32px;
  line-height: 1.2;
  margin-top: 20px;
  color: #d71149;
}

.product-detail-size {
  margin-bottom: 30px;
  border-bottom: 1px solid #e5e5e5;
}

.detail-size {
  border-radius: 50%;
  border: 1.5px solid #e5e5e5;
  padding: 1rem;
  width: 40px;
  height: 40px;
  margin-right: 20px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}

.product-detail-pelapak {
  border-top: 1px solid #ddd;
}

.breadcrumb {
  margin-top: 80px;
  text-transform: uppercase;
}

.breadcrumb-item a {
  text-decoration: none;
  color:#292929;
}

.breadcrumb-item a:hover {
  text-decoration: underline;
  color:#c9c9c9;
}

.c-icon {
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.u-mrgn-right--1 {
  margin-right: 6px!important;
}
.u-mrgn-left--1 {
  margin-left: 6px!important;
}

.avatar-image {
  width: 100px;
  height: auto;
  border-radius: 50%;
}


/*--------------
OWL carousel
----------------*/

/*.owl-carousel {
  margin: 0 auto;
}*/

.owl-item a{
  color: inherit;
  text-decoration: none;
}

.owl-nav {
  position: absolute;
  width: 100%;
  top: 24%;
  height: 0;
}

.owl-prev {
  color: #000;
  font-size: 48px;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 48px;
  left: -50px;
  position: relative
}

.owl-next {
  /*position: relative;*/
  width: 50px;
  height: 50px;
  /* left: inherit; */
  right: -50px;
  left: inherit;
}

.owl-item img{
  max-width: 150px;
  height: auto;
}

.logo-item {
  opacity: 1;
  height: 100%;
}

.band-img {
  margin-top: auto;
  margin-bottom: auto;
  padding: 0;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.band-img:hover {
  opacity: .6;
}

.home-content {
  padding-top: 50px;
}

.home-widget {
  margin-right: -7.5px;
  margin-left: -7.5px;
  margin-bottom: 47px;
}

.home-widget .home-banner {
  padding-right: 7.5px;
  padding-left: 7.5px;
  padding-bottom: 20px;
}

.home-banner img {
  width: 100%;
}