<%- include ("../template/head.html") %>
<%- include ("../template/header.html") %>

<div class="container account">
  <div class="row">
    <% if (isShowMenu) { %>
      <!-- Desktop sidebar (hidden on mobile) -->
      <div class="col-lg-3 d-none d-lg-block">
        <%- include ("./dashboard_menu.html") %>
      </div>
    <% } %>

    <% if (isShowMenu) { %>
      <!-- Mobile nav (hidden on desktop) -->
      <div class="col-12 d-block d-lg-none">
        <div class="sidebar nav-user-mobile">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link  <%= uri.path == '/account/profile' ? 'active' : '' %>" aria-current="page" href="/account/profile"> 
                <i class="far fa-user fa-2x"></i>
                <div> Profile </div>
              </a> 
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/account/product"> 
                <i class="fas fa-store fa-2x" aria-hidden="true"></i> 
                <div> Lapak  </div>
              </a> 
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/account/favorite"> 
                <i class="fas fa-heart fa-2x"></i>
                <div> Favorit </div>
              </a> 
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" onclick="underdev(event)"> 
                <i class="far fa-envelope fa-2x"></i>
                <div> Inbox </div>
              </a> 
            </li>
            <li class="nav-item"> 
              <a class="nav-link" href="/auth/logout"> 
                <i class="fas fa-sign-out-alt fa-2x"></i> 
                <div> Keluar </div>
              </a> 
            </li>
          </ul>
        </div>
      </div>
    <% } %>

    <script>

      function underdev(event) {
        event.preventDefault();
        alert('Fitur dalam pengembangan');
      }
    </script>

    <% if (isShowMenu) { %>
      <div class="col-lg-9">
    <% } else { %>
      <div class="col-12">
    <% } %>
      <div class="highlight">
