<div class="filter-sidebar desktop-filters account-sidebar-menu">

    <!-- Akun Section -->
    <div class="filter-section">
    <div class="filter-options account-sidebar-menu-href">
        <a href="/account/profile"> <i class="far fa-user"></i> Profile</a>
        <a href="/account/product"> <i class="fas fa-tshirt"></i> Produk </a>
        <a href="/account/favorite"> <i class="fas fa-heart"></i> Favorit </a>
        <a href="#/account/inbox" onclick="underdev(event)"> <i class="far fa-envelope"></i> Inbox </a>
        <!-- <a href="#/account/transaction" onclick="underdev(event)"> <i class="fas fa-receipt"></i> Transaksi </a> -->
        <a href="/auth/logout"> <i class="fas fa-sign-out-alt"></i> Keluar akun</a>
    </div>
    </div>


    <!-- Lapak Section -->
    <!--div class="filter-section">
        <h3 class="filter-title">Lapak</h3>
        <div class="filter-options account-sidebar-menu-href">
            <a href="/account/seller"> <i class="fas fa-cog"></i> Pengaturan </a>
            
            <a href="#/account/inbox" onclick="underdev(event)"> <i class="far fa-envelope"></i> Inbox </a>
            <a href="#/account/transaction" onclick="underdev(event)"> <i class="fas fa-receipt"></i> Transaksi </a>
        </div>
    </div-->
</div>