<% include ../template/head.html %>
<% include ../template/header.html %>

<div class="container account">
  <div class="col-md-3 sidebar">
    <ul class="list-unstyled">
  		<li> <a href="/account/inbox"> <i class="fa fa-envelope fa-2x" aria-hidden="true"></i> Kotak Masuk </a> </li>
  		<li> <a href="/account/product"> <i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i> Produk </a> </li>
  		<li> <a href="/account/profile"> <i class="fa fa-user fa-2x" aria-hidden="true"></i> Profile</a> </li>
  		<li> <a href="/account/transaction"> <i class="fa fa-credit-card fa-2x" aria-hidden="true"></i> </a> Transaksi </li>
	</ul>
  </div>

  <div class="col-md-9" class="content">
    <div class="" class="highlight" style="">
