<% include dashboard_header.html %>
<div class="product-form">

<h3> Jual Product </h3>
<p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
  been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
  galley of type and scrambled it to make a type specimen book.
</p>

<form method="POST" action="<%= action %>" id="add_product">
  <div class="form-group">
    <label for="name">Nama Barang</label>
    <input type="text" class="form-control" id="name" name="name" value="<%= data.item.name %>" required>
  </div>

  <div class="form-group">
    <label for="category">Kategori</label>
    <select class="form-control" id="category" name="category" required>
      <option value="">-- Pilih Kategori --</option>
      <% for(var i in data.categories) { %>
        <% const cats = data.categories; %>
        
          <% if (cats[i].cat_parent_id == 0) { %>
            <optgroup label="<%= cats[i].cat_name %>">   
              <% const catSecondLayer = cats.filter(function(cat) {return cat.cat_parent_id == cats[i].cat_id  } ); %>
              <% if (catSecondLayer.length > 0) { %>
                <% for (let j = 0; j < catSecondLayer.length; j++) { %>
                  <option value="<%= catSecondLayer[j].cat_id %>" <%= catSecondLayer[j].cat_id == data.item.category ? 'selected': '' %> > <%= catSecondLayer[j].cat_name %> </option>
                <% } %>
              <% } %>
            </optgroup>
        <% } %>
      <% } %>
    </select>
  </div>

  <div class="form-group">
    <label for="band">Band / Artis</label>
    <select class="form-control" id="band" name="band" required>
      <option value="">-- Pilih Band/Artis --</option>
      <% for(var i in data.bands.rows) { %>
      <option value="<%= data.bands.rows[i].band_id %>" <%= data.item.band == data.bands.rows[i].band_id ? 'selected' : '' %> >
          <%= data.bands.rows[i].band_name %>
      </option>
      <% } %>
    </select>
  </div>

  <div class="form-group">
    <label for="description">Deskripsi Produk</label>
    <textarea class="form-control" rows="3" id="description" name="description"><%= data.item.desc %></textarea>
  </div>

  <div class="form-group">
    <label for="name">Harga Satuan</label>
    <div class="input-group">
      <div class="input-group-addon">Rp.</div>
      <input type="text" class="form-control" name="price" id="price"  value="<%= data.item.price %>" placeholder="Harga">
    </div>
  </div>

  <div class="form-group">
    <label for="name">Upload Gambar Produk</label>
    <ul class="image-upload list-inline">
        <input id="upload_image" type="file" name="image" accept="image/*" style="display:none" data-idx="0" onchange="uploadImage(this.files, $(this))">

        <li id="thumb_image_0" class="pickfile-container"  onclick="browseFile(event, $(this))" >
          <% if (data.item.thumbnails.length > 0) { %>
            <img class="preview" width="100" style="vertical-align: baseline;" src="<%=  data.item.thumbnails[0] %>">
          <% } %>
        </li>
    </ul>
  </div>

  <div class="form-group">
    <label for="name">MarketPlaces</label>

    
    <div class="input-group">
      <div class="input-group-addon"><img width="auto" height="25" src="/marketplace/tokopedia.png"></div>
      <input type="url" class="form-control marketplace" id="mp-tokopedia" name="mp_tokopedia"  value="<%= data.item.marketplaces.tokopedia %>" placeholder="<Tokopedia link>">
      
    </div>
    
    <div class="input-group">
      <div class="input-group-addon"><img width="auto" height="25" src="/marketplace/bukalapak.png"></div>
      <input type="url" class="form-control marketplace" id="mp-bukalapak" name="mp_bukalapak"  value="<%= data.item.marketplaces.bukalapak %>" placeholder="<Bukalapak link>">
    </div>
    <div class="input-group">
      <div class="input-group-addon"><img width="auto" height="25" src="/marketplace/shopee.png"></div>
      <input type="url" class="form-control marketplace" id="mp-shopee" name="mp_shopee"  value="<%= data.item.marketplaces.shopee %>" placeholder="<Shopee link>">
    </div>
  </div>
  </div>

  <div class="form-group">
    <label for="condition">Kondisi</label>
    <select class="form-control" id="condition" name="condition">
      <option value="b" <%= data.item.condition == 'b' ? 'selected' : '' %> > Baru </option>
      <option value="s" <%= data.item.condition == 's' ? 'selected' : '' %> > Bekas </option>
    </select>
  </div>

  <div class="form-group">
    <label for="stock">Stock</label>
    <input type="text" class="form-control" id="stock" name="stock" value="<%= data.item.stock %>">
  </div>

  <input type="hidden" name="is_visible" value="">
  <div class="btn btn-primary submit-prod" onclick="submitProd(event, $(this))" data-type="save">Simpan</div>
  <div class="btn btn-success submit-prod" onclick="submitProd(event, $(this))" data-type="publish">Simpan dan publish</div>
  <button style="display: none" type="submit">submit</button>
  <a class="btn btn-default submit-prod" onclick="window.history.back();">Batal</a>
</form>

</div>

<% include dashboard_footer.html %>
