<% include dashboard_header.html %>
<div class="product-form">

<h3> Jual Product </h3>
<p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
  been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
  galley of type and scrambled it to make a type specimen book.
</p>

<form method="POST" action="<%= action %>" id="add_product">
  <div class="form-group">
    <label for="name">Nama Barang</label>
    <input type="text" class="form-control" id="name" name="name" value="<%= data.item.name %>" required>
  </div>

  <div class="form-group">
    <label for="category">Kategori</label>
    <select class="form-control" id="category" name="category" required>
      <option value="">-- Pilih Kategori --</option>
      <% for(var i in data.categories) { %>
      <option value="<%= data.categories[i].cat_id %>"  <%= data.item.category == data.categories[i].cat_id ? 'selected' : '' %> >
        <%= data.categories[i].cat_name %>
      </option>
      <% } %>
    </select>
  </div>

  <div class="form-group">
    <label for="band">Band</label>
    <select class="form-control" id="band" name="band" required>
      <option value="">-- Pilih Band --</option>
      <% for(var i in data.bands.rows) { %>
      <option value="<%= data.bands.rows[i].band_id %>" <%= data.item.band == data.bands.rows[i].band_id ? 'selected' : '' %> >
          <%= data.bands.rows[i].band_name %>
      </option>
      <% } %>
    </select>
  </div>

  <div class="form-group">
    <label for="description">Deskripsi Produk</label>
    <textarea class="form-control" rows="3" id="description" name="description"><%= data.item.desc %></textarea>
  </div>

  <div class="form-group">
    <label for="name">Harga Satuan</label>
    <div class="input-group">
      <div class="input-group-addon">Rp.</div>
      <input type="text" class="form-control" name="price" id="price"  value="<%= data.item.price %>" placeholder="Harga">
    </div>
  </div>

  <div class="form-group">
    <label for="name">Perkiraan Berat</label>
    <div class="input-group">
      <div class="input-group-addon">gram</div>
      <input type="text" class="form-control" id="weight" name="weight"  value="<%= data.item.weight %>" placeholder="Berat">
    </div>
  </div>


  <div class="form-group">
    <label for="condition">Ukuran</label>

    <div class="form-check form-check-inline"> 
        <input class="form-check-input" type="checkbox" name="sizes" id="inlineCheckbox1" value="s" <%= data.item.sizes.includes('s') ? "checked" : "" %> >
        <label class="form-check-label" for="inlineCheckbox1"> S </label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" name="sizes" id="inlineCheckbox2" value="m" <%= data.item.sizes.indexOf('m') > -1 ? 'checked' : '' %> >
        <label class="form-check-label" for="inlineCheckbox2"> M </label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" name="sizes" id="inlineCheckbox3" value="l" <%= data.item.sizes.indexOf('l') > -1 ? 'checked' : '' %> >
        <label class="form-check-label" for="inlineCheckbox3"> L </label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" name="sizes" id="inlineCheckbox4" value="xl" <%= data.item.sizes.indexOf('xl') > -1 ? 'checked' : '' %>>
        <label class="form-check-label" for="inlineCheckbox4"> XL </label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" name="sizes" id="inlineCheckbox4" value="xxl" <%= data.item.sizes.indexOf('xxl') > -1 ? 'checked' : '' %>>
        <label class="form-check-label" for="inlineCheckbox4"> XXL </label>
      </div>
  </div>

  <div class="form-group">
    <label for="name">Upload Gambar Produk</label>
    <ul class="image-upload list-inline">
        <input id="upload_image" type="file" name="image" accept="image/*" style="display:none" data-idx="0" onchange="uploadImage(this.files, $(this))">

        <% if (data.item.thumbnails.length > 0) { %>
            <% for(var i in data.item.thumbnails) { %>
                <li id="thumb_image_<%= i %>" >
                    <img class="preview" width="100" style="vertical-align: baseline;"" src="<%=  data.item.thumbnails[i] %>">
                </li>
            <% } %>
        <% } %>

        <li class="pickfile-container" id="pickfile-container" onclick="browseFile(event, $(this))" >

        </li>
    </ul>
  </div>

  <div class="form-group">
    <label for="condition">Kondisi</label>
    <select class="form-control" id="condition" name="condition">
      <option value="b" <%= data.item.condition == 'b' ? 'selected' : '' %> > Baru </option>
      <option value="s" <%= data.item.condition == 's' ? 'selected' : '' %> > Bekas </option>
    </select>
  </div>

  <div class="form-group">
    <label for="stock">Stock</label>
    <input type="text" class="form-control" id="stock" name="stock" value="<%= data.item.stock %>">
  </div>

  <input type="hidden" name="is_visible" value="">
  <div class="btn btn-primary submit-prod" onclick="submitProd(event, $(this))" data-type="save">Simpan</div>
  <div class="btn btn-success submit-prod" onclick="submitProd(event, $(this))" data-type="publish">Simpan dan publish</div>
  <button style="display: none" type="submit">submit</button>
  <a class="btn btn-default submit-prod" onclick="window.history.back();">Batal</a>
</form>

</div>

<% include dashboard_footer.html %>
