<% include dashboard_header.html %>
<div class="product-form">

<h3> Profile </h3>
<p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
  been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
  galley of type and scrambled it to make a type specimen book.
</p>

<form method="POST" action="/account/profile/update">
  <div class="form-group">
    <label for="name">Email</label>
    <input type="text" class="form-control" id="email" value="<%= data.user.user_email %>" disabled>
  </div>

  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name="name" value="<%= data.user.user_name %>" placeholder="">
  </div>

  <div class="form-group">
    <label for="description">Phone Number</label>
    <input type="text" class="form-control" rows="3" id="hp" name="hp" value="<%= data.user.user_hp %>">
  </div>

  <div class="form-group">
    <label for="name">Profile picture</label>
    <ul class="image-upload list-inline">
      <input id="upload_image"  type="file" name="image" accept="image/*" style="display:none" onchange="uploadImage(this.files)">
          
          <li id="thumb_image_0" class="pickfile-container" id="pickfile-container" onclick="browseFile(event, $(this))" >
              <% if (typeof data.user.image != 'undefined') { %>
                <img src="<%= data.user.image %>">
              <% }%>
            </li>
          
            <!--div  style="text-align: center; width: 50%; line-height: 110px; margin-left: auto; margin-right: auto">
              <i style="color:#b7b7b7" class="fa fa-camera fa-2x" aria-hidden="true"></i>
            </div-->
          
    </ul>
  </div>

  <div class="form-group">
    <label for="condition">Gender</label>
    <select class="form-control" id="condition" name="gender">
      <option value="1" <%= data.user.gender ? 'selected' : '' %> > Male </option>
      <option value="0" <%= !data.user.gender ? 'selected' : '' %> > Female </option>
    </select>
  </div>

  <button type="submit" class="btn btn-default">Submit</button>
</form>

</div>

<% include dashboard_footer.html %>
